.slopel.menu.black
  .slopershape
.row-fluid
  %section.span24
    %article.intro
      .spacing
        .row-fluid
          .homespacefix
          %h1.span24=raw text_values(:homepage).title
          .span8.pull-right.text
            %p=raw text_values(:homepage).body
            =link_to "Meld je aan!", :register, :class => "btn more"
            .homespacefix
.row-fluid.spacefix
  .slopel.orange
    .slopelshape
  .row-fluid
    %section.volgende_uitzending.span24.v-spacing.highlight
      -if @live || @upcoming
        .row-fluid
          %article.span24
            .spacing.showcenter
              - if @live
                .row-fluid
                  .center
                    .span10
                      / .imgmask
                      =link_to [@live.channel, @live] do
                        - if @live.image
                          =image_tag @live.image.url(:front)
                    .span14
                      %h3
                        .icon.Episode.white
                        = t("now_live")
                      =link_to [@live.channel, @live] do
                        %h2= @live.title
                      -if @live.airdate.present?
                        %time= l(@live.airdate, :format => :full)
                      .text
                        =smart_truncate(strip_tags(@live.description), :words => 40).html_safe
                        .clearfix=link_to t("more"), [@live.channel, @live], :class => "btn more pull-right"

              - elsif @upcoming
                .row-fluid
                  .span10
                    / .imgmask
                    =link_to [@upcoming.channel, @upcoming] do
                      - if @upcoming.image
                        =image_tag @upcoming.image.url(:front)
                  .span14
                    %h3
                      .icon.Episode.white
                      = t("channels.next_episode")
                    =link_to [@upcoming.channel, @upcoming] do
                      %h2= @upcoming.title
                    -if @upcoming.airdate.present?
                      %time= l(@upcoming.airdate, :format => :full)
                    .text
                      =smart_truncate(strip_tags(@upcoming.description), :words => 40).html_safe
                      .clearfix=link_to t("more"), [@upcoming.channel, @upcoming], :class => "btn more pull-right"
  .sloper.orange
    .slopershape
.clear
.row-fluid.spacefix
  .slopel.grey
    .slopelshape
  .row-fluid
    %aside.span24.sidebar
      .spacing
        %h3 Activiteit:
        .row-fluid
          - @recent.each do |recent|
            -if recent.class == Post ||  recent.class == Idea
              .span8.activity
                %h4
                  .icon{:class => "#{recent.type.to_s}"}
                  = recent.title
                .text=smart_truncate(strip_tags(recent.description), :words => 20).html_safe
                .clearfix.smallspacing=link_to t("more"), [recent.channel, recent], :class => "btn more pull-right"
            - elsif recent.class == Solution
              .span8.activity
                %h4
                  .icon{:class => "#{recent.type.to_s}"}
                  = recent.title
                .text=smart_truncate(strip_tags(recent.description), :words => 20).html_safe
                .clearfix.smallspacing=link_to t("more"), [recent.challenge.channel , recent.challenge, recent], :class => "btn more pull-right"
  .sloper.grey
    .slopershape

.row-fluid
  %section.programmas.span24
    .spacing
      %h2
        .icon.Channel
        = t("channels.channels")
      -@channels.each do |channel|
        .row-fluid
          %article.span24
            %h2=link_to channel.title, channel

            .row-fluid
              .span12
                .text=raw channel.description
              -if channel.episodes.present?
                .span12
                  .spacing
                    %h5= channel.episodes.first.live ? t("now_live") : t("channels.next_episode")
                    %h4=link_to channel.episodes.first.title, [channel, channel.episodes.first]
                    .row-fluid
                      .span12
                        %img{:src => "http://placehold.it/250x140"}
                      .span12

                        %time= l(channel.episodes.first.airdate, :format => :full)
                        .text=smart_truncate(strip_tags(channel.episodes.first.description), :words => 20).html_safe

                        .clearfix.smallspacing=link_to t("more"), [channel, channel.episodes.first], :class => "btn more pull-right"
        .spacing

