%header
  %h1= @channel.title

- if @live
  %section.span24.livestream_alert
    %h2= "Livestream " + @live.title + " is live"
    %p=raw @live.description
    = link_to "Ga naar livestream", [@channel, @live]
- elsif @upcoming
  %section.span24.livestream_alert
    %h2= @upcoming.title
    %p= "Livestream begint op: " + @upcoming.airdate.to_s
    %p=raw @upcoming.description
      

.row-fluid
  %section.span18.content
    

    / %h2= t("episodes")
    / - @channel.episodes.each do |episode|
    /   =link_to episode.title, [@channel, episode]

    .row-fluid
      %section.span16.volgende_livestream
        .row-fluid
          %article.span24
            %h2 Volgende livestream
            .row-fluid
              %img.span15{:src => "http://placehold.it/850x410"}
              .span9
                %h3 Titel volgende livestream
                .text Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis.
            .row-fluid
              %section.span24.chat
                %article
                  %h2 Chat mee
                  =form_for [@channel, Message.new], :remote => true do |f|
                    =f.text_field :content, :id => "new_message"
                    - unless current_user
                      =f.text_field :name
                      =f.text_field :email
                    =f.submit "Send"
                %ul#chat
                  = render @channel.messages
      %section.span8.challenges
        %article
          %h2= t("challenges")
          %p Sed posuere consectetur est at porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Meer informatie kun je vinden bij Karma & Rewards
          %ul
            - @channel.challenges.each do |challenge|
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
              %li=link_to challenge.title, [@channel, challenge]
          =link_to  t("post_idea"), [:new, @channel, :idea], :class => "btn"


    .row-fluid
      .span24
        .row-fluid
          .span24
            / blogposts
            %section.span12
              %h2 Changemaker Blogspots
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is &euml;en blogpost
                    .text Lorëm ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een blogpost
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een blogpost
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een blogpost
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
            / Ideeën
            %section.span12
              %h2 Ideeën
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een idee
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een idee
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een idee
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
              .row-fluid
                %article.span24
                  %img.span6{:src => "http://placehold.it/110x60"}
                  .span16
                    %h3 Dit is een idee
                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta eli
            %section.span24.laatste_afleveringen_klein
              %h2 Vorige uitzendingen
              .row-fluid
                - 3.times do
                  %article.span7
                    %img{:src => "http://placehold.it/550x410"}
                .span8=link_to "Vorige uitzendingen", [@channel, :episodes], :class => "btn"

  %aside.span6
    %section.project-status
      %article
        %h4 Projectstatus
        %p blabla babafsd asdfasdf asd

    %section.over_dit_kanaal
      %article
        %h4= @channel.title
        %p=raw @channel.description

    %section.changemakers
      %article
        %h4 Changemakers
        %img{:src => "http://placehold.it/110x150", :align => 'left'}
        %p Lorem ipsum dolor sit amet, consectetur adi- piscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta elit.
      .row-fluid
      %article
        %h4 Changemakers
        %img{:src => "http://placehold.it/110x150", :align => 'left'}
        %p Lorem ipsum dolor sit amet, consectetur adi- piscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta elit.

    .row-fluid
    %section.links
      %article
        %h4 Aanbevolen links
        %ul
          %li Dit is een link
          %li En nog een link

    .row-fluid
    %section.twitter
      %article
        %h4 Twitterfeed
        %p Hier komen de tweets



/  %h2= t("episodes")
/  - @channel.episodes.each do |episode|
/    =link_to episode.title, [@channel, episode]
/
/  %h2= t("posts")
/  - @channel.posts.each do |post|
/    =link_to post.title, [@channel, post]
/
/  %h2= t("ideas")
/  - @channel.ideas.each do |idea|
/    =link_to idea.title, [@channel, idea]
/
/  %h2= t("ideas")
/  - @channel.ideas.each do |idea|
/    =link_to idea.title, [@channel, idea]

/ %h2= t("ideas")
/ - @channel.ideas.each do |idea|
/   =link_to idea.title, [@channel, idea]


- @channel_clean = @channel.id.to_s + @channel.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/channel"
:javascript
  $(function(){
    var faye = new Faye.Client('http://localhost:9292/faye');

    faye.subscribe("/#{@channel_clean.to_s}", function(data) {
      eval(data);
    });
  })
