- content_for :breadcrumbs do
  %li=link_to t("home"), :root

.row-fluid
  %section.span18.content
    .row-fluid
      .slopel.orange
        .slopelshape
      .row-fluid
        .spacing.highlight
          %h1.pageheader= @channel.title
          -if @live || @upcoming
            .row-fluid
              %article.span24
                - if @live
                  .row-fluid
                    .span8
                      / .imgmask
                      =link_to [@channel, @live] do
                        - if @live.image
                          =image_tag @live.image.url(:front)
                    .span15.offset1
                      %h3.nextup.clearfix= t("channels.now_live")

                      =link_to [@channel, @live] do
                        %h2= @live.title

                      -if @live.airdate.present?
                        %time= l(@live.airdate, :format => :full)
                      .text
                        =smart_truncate(strip_tags(@live.description), :words => 40).html_safe
                        =link_to t("more"), [@channel, @live], :class => "btn more pull-right"

                - elsif @upcoming

                  .row-fluid
                    .rotate
                      .span8
                        / .imgmask
                        =link_to [@channel, @upcoming] do
                          - if @upcoming.image
                            =image_tag @upcoming.image.url(:front)
                      .span15.offset1
                        %h3.clearfix.nextup= t("channels.next_episode")
                        =link_to [@channel, @upcoming] do
                          %h2= @upcoming.title
                        -if @upcoming.airdate.present?
                          %time= l(@upcoming.airdate, :format => :full)
                        .text
                          =smart_truncate(strip_tags(@upcoming.description), :words => 40).html_safe
                          =link_to t("more"), [@channel, @upcoming], :class => "btn more pull-right"
        .sloper.orange
          .slopershape
    .row-fluid

      %section.span9.chat
        %article

          .sloper.black
            .slopershape
          .spacing
            %h2= t("channels.chat")
            %ul#chatBox
              -if @channel.messages.present?
                = render @channel.messages

            .chatForm.input-append
              =form_for [@channel, Message.new], :remote => true do |f|
                - unless current_user
                  .span24
                    .span6
                      %label Naam
                    .span18
                      =f.text_field :name, :required => true
                  .span24
                    .span6
                      %label E-mail
                    .span18
                      =f.email_field :email, :required => true

                .span24
                  .chatfield.nom.pull-left
                    =f.text_field :content, :class => "message_clear"

                  =f.submit "Send", :class => "chatsend nom pull-left"
          .slopel.black
            .slopelshape


      %section.span15.challenges
        .spacing
          %article
            %h2.clearfix
              .icon.Challenge
              = t("challenges.challenges_and_ideas")
            %p.text=raw text_values(:ideas_and_challenges).body
            .clearfix
              =link_to [:new, @channel, :idea], :class => "btn more iconbtn" do
                .icon.Idea.white
                =t("ideas.new_idea")
            / .row-fluid.challengeindex
            /   .span14= t("challenges.challenge")
            /   .span6= t("challenges.solutions")
            /   .span4= t("challenges.points")
            / %ul.clearfix.itemlist.challenges
            %table.challenges
              %tr
                %th= t("challenges.challenge")
                %th= t("challenges.solutions")
                %th= t("challenges.points")
              - @channel.challenges.each do |challenge|
                -if challenge.active
                  %tr
                    %td=link_to (challenge.title + " >"), [@channel, challenge]
                    %td=link_to challenge.solutions.count, [@channel, challenge]
                    %td= challenge.points

      .row-fluid
        .span24
          .row-fluid
            .span24
              .spacing
                %section.span12
                  %h2
                    .icon.Post
                    = t("articles.articles")
                  %ul.itemlist
                    - @posts.each do |post|
                      %li
                        .row-fluid
                          %article.span24
                            .row-fluid
                              =link_to [@channel, post] do
                                %h3=smart_truncate(strip_tags( post.title), :words => 5).html_safe
                              %time= l(post.updated_at, :format => :short)
                            .row-fluid
                              - if post.images.present?
                                =link_to [@channel, post], :class => "span8" do
                                  =image_tag post.images.first.url(:front)
                              .offset1{:class => post.images.present? ? "span15" : "span23"}
                                .text
                                  =smart_truncate(strip_tags(post.description), :words => 20).html_safe
                                  .clearfix=link_to t("more"), [@channel, post], :class => "btn pull-right more"
                    %li.clearfix=link_to t("articles.all_articles"), [@channel,:posts], :class => "more btn pull-right"



                %section.span12
                  %h2
                    .icon.Idea
                    / %img{:src => "http://placehold.it/50x50"}
                    =t("ideas.submitted")
                  %ul.itemlist
                    - @ideas.each do |idea|
                      %li
                        .row-fluid
                          %article.span24
                            .row-fluid
                              =link_to [@channel, idea] do
                                %h3=smart_truncate(strip_tags( idea.title), :words => 5).html_safe
                              %time= l(idea.updated_at, :format => :short) + " - "
                              %author=link_to idea.user.username, idea.user
                            =link_to [@channel, idea] do
                              / .span7

                            / .span16.offset1
                            -if idea.user.avatar.present?
                              .pull-left=image_tag( idea.user.avatar.url, :style => "width:100px; margin:6px 12px 6px 0;")
                            .text
                              =smart_truncate(strip_tags(idea.description), :words => 20).html_safe
                              .clearfix=link_to t("more"), [@channel, idea], :class => "btn pull-right more"
                    %li.clearfix=link_to t("ideas.all_ideas"), [@channel,:ideas], :class => "more btn pull-right"


                -if @episodes.present?
                  .row-fluid
                    %section.span24.laatste_afleveringen_klein
                      %h2
                        .icon.Episode
                        = t("channels.previous_episodes")
                      .row-fluid
                        - @episodes.each do |episode|
                          %article.span8
                            =link_to [@channel, episode] do
                              %h3= episode.title
                            -if episode.airdate.present?
                              %time= l(episode.airdate, :format => :full)
                            =link_to [@channel, episode] do
                              -if episode.image
                                =image_tag episode.image.url(:front)
                        .span24.smallspacing=link_to t("channels.previous_episodes"), [@channel, :episodes], :class => "btn pull-right more "

  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.project-status
        %article
          %h4= t("channels.status")
          %p= @channel.status

      %section.over_dit_kanaal
        %article
          %h4= @channel.title
          .text=raw @channel.description

      %section.changemakers
        %h4= t("channels.changemakers")
        -@channel.admins.each do |changemaker|
          %article.row-fluid.activity
            %h5=link_to changemaker.username, changemaker
            -if changemaker.avatar.present?
              .avatar=image_tag changemaker.avatar.url(:portrait), :width => 75
            -if changemaker.bio
              .text=smart_truncate(strip_tags(changemaker.bio), :words => 20).html_safe

      .row-fluid
      %section.links
        %article
          - if @channel.links.present?
            %h4= t("channels.recommended_links")
            .text=raw @channel.links
    .slopel.black
      .slopelshape

- @channel_clean = @channel.id.to_s + @channel.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/channel"
:javascript
  $(function(){
    var faye = new Faye.Client('http://87.255.36.139:9292/faye');

    faye.subscribe("/#{@channel_clean.to_s}", function(data) {
      eval(data);
    });

  })
  scrollChatbox();