%h1= @idea.title
%p=raw @idea.description
- if @idea.image.present?
  %div=image_tag @idea.image.url(:front)
- @idea.blogitems.each do |item|
  .item= render "item", :item => item

#appreciableCounter= "Aantal waarderingen: " + @idea.appreciables.count.to_s
#appreciableBtn
  .btn.appreciableBtn Karma +1
  =render "appreciable_form"

-if FunctionConfig.allowed?(:comments)
  %h1 Comments
  = render "commentform"
  - @idea.comments.each do |comment|
    = render comment