.spacing
  =link_to (t("back") + " naar #{@user.username}"), @user
  %h2
    .icon.Idea
    = @user.username + " - "+ t("ideas.all_ideas")
.hspacing
  .row-fluid
    .pagination.top
      = will_paginate @ideas,  :previous_label => "<",:next_label => ">", :container => false

    - @ideas.in_groups_of(3, false) do |ideas|
      .row-fluid.collection
        - ideas.each do |idea|
          %article.span8
            .smallspacing
              %h2= idea.title
              -if idea.image.present?
                =image_tag idea.image.url(:front)
              .text=raw idea.description
              = link_to t("more"), [idea.channel, idea], :class => "btn more pull-right"
    .pagination
      = will_paginate @ideas,  :previous_label => "<",:next_label => ">", :container => false