- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @user.username, [@user]
.spacing
  %h2
    .icon.Solution
    = @user.username + " - "+ t("solutions.all_solutions")
.spacing.nov
  .row-fluid
    .pagination.top= will_paginate @solutions,  :previous_label => "<",:next_label => ">"

    - @solutions.in_groups_of(3, false) do |solutions|
      .row-fluid.collection
        - solutions.each do |solution|
          %article.span8
            .smallspacing
              %h2= solution.title
              -if solution.image.present?
                =image_tag solution.image.url(:front)
              .text=raw solution.description
              = link_to t("more"), [solution.challenge.channel, solution.challenge, solution], :class => "btn more pull-right"
    .pagination= will_paginate @solutions,  :previous_label => "<",:next_label => ">"