- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @channel.title, [@channel]

.spacing
  =link_to (t("back") + " naar #{@channel.title}"), @channel
  %h2
    .icon.Idea
    = @channel.title + " - "+ t("episodes.all_episodes")
.spacing.nov
  .row-fluid
    .pagination.top
      = will_paginate @episodes,  :previous_label => "<",:next_label => ">", :container => false

    - @episodes.in_groups_of(3, false) do |episodes|
      .row-fluid.collection
        - episodes.each do |episode|
          %article.span8
            .smallspacing
              %h2= episode.title
              -if episode.image.present?
                =image_tag episode.image.url(:front)
              .text=smart_truncate(strip_tags(episode.description), :words => 45).html_safe
              = link_to t("more"), [episode.channel, episode], :class => "btn more pull-right"
    .pagination
      = will_paginate @episodes,  :previous_label => "<",:next_label => ">", :container => false