- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @episode.channel.title, [@episode.channel]

/ .spacing.nov=link_to (t("back") + " naar #{@channel.title}"), @channel

.row-fluid
  %section.span18.content
    / %h2= @channel.title
    .row-fluid
      %section.span24.livestream
        .spacing
          .row-fluid
            %article.span24
              %h1.pageheader= @episode.title
              -unless @episode.live
                .row-fluid
                  .text{:class => ("offset4 span15" unless @episode.live)}=raw @episode.description
              .row-fluid
                .span15{:class => ("offset4" unless @episode.live)}
                  -if @episode.images.present? && (@episode.airdate > Time.now)
                    =image_tag @episode.images.first.url(:front)
                  -else
                    .clear
                      .videoWrapper=raw @episode.livestream_embedcode
                  .row-fluid
                    %article.vraag_stellen

                      #accordion2.accordion.hideforlive
                        .accordion-group
                          .accordion-heading.toggleBtn
                            %a{ :class=>"accordion-toggle btn more", :href =>"#collapseOne", :data=> {:toggle=>"collapse", :parent=>"#accordion2"}}
                              = t("episodes.ask_question_header")

                          #collapseOne.accordion-body.collapse.in
                            .accordion-inner
                              .orangebg
                                / -if @episode.live
                                %h3= t("episodes.ask_question")
                                =form_for [@episode.channel, @episode, Question.new], :remote => true do |f|
                                  - unless current_user
                                    .row-fluid
                                      .span6
                                        %label Naam
                                      .span18
                                        =f.text_field :name, :class => "fullwidth"
                                  =f.text_field :question, :id => "new_question", :placeholder => "Welke vraag heb jij voor Crowdrevolt?", :class => "fullwidth"
                                  -unless current_user
                                    %p.pull-right.helper
                                      niet steeds je naam invullen?
                                      %span=link_to "registreren", :register
                                      \-
                                      %span=link_to "inloggen", :user_login
                                  .row-fluid.clear
                                    =f.submit "Stuur vraag in", :class => "btn pull-right"



                              .row-fluid
                                %article.span24.vragen
                                  %h3 Onlangs gestelde vragen
                                  #questions
                                    -if @episode.questions.empty?
                                      %p er zijn nog geen vragen gesteld.
                                    -else
                                      =render :partial => 'admin/questions/question', :collection => @episode.questions, :as => :question



                -if @episode.live
                  .span9
                    -if current_user && current_user.skypename.present?
                      #skypeBtn
                        #skypeButton.skypeBtn.iconBtn
                          =image_tag "skype.png", :class => "skypeicon"
                          %span= t("available_for_skype")
                        #skypeForm
                          =form_tag :available, :method => 'post', :remote => true do |f|
                            / =check_box_tag :available, :id => "available"
                            =submit_tag "Send", :class => "btn hidden"
                    -elsif current_user
                      %p
                        om mee te doen in de uitzending moet je je skypenaam invullen.
                        =link_to "Bewerk profiel", current_user
                    .chat
                      .sloper.black
                        .slopershape
                      .smallspacing
                        %h3 Live chat
                        %ul#chatBox
                          -if @episode.messages.present?
                            = render @episode.messages
                        .chatForm.input-append
                          =form_for [@episode.channel, @episode, Message.new], :remote => true do |f|
                            - unless current_user
                              .span24
                                .span6
                                  %label Naam
                                .span18
                                  =f.text_field :name
                              .span24
                                .span6
                                  %label E-mail
                                .span18
                                  =f.email_field :email

                            .span24
                              .chatfield.nom.pull-left
                                =f.text_field :content, :class => "message_clear"

                              =f.submit "Send", :class => "chatsend nom pull-left"
                      .slopel.black
                        .slopelshape


  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.project-status
        %article
          %h4 Projectstatus
          %p=@episode.channel.status

      %section.over_dit_kanaal
        %article
          %h4= t("episodes.about_channel")
          .text=raw @episode.channel.description

      %section.changemakers
        %h4= t("channels.changemakers")
        -@channel.admins.each do |changemaker|
          %article.row-fluid.activity
            %h5=link_to changemaker.username, changemaker
            -if changemaker.avatar.present?
              =image_tag changemaker.avatar.url(:portrait)
            -if changemaker.bio
              .text=smart_truncate(strip_tags(changemaker.bio), :words => 20).html_safe

      .row-fluid
      %section.links
        %article
          - if @episode.links.present?
            %h4= t("channels.recommended_links")
            .text=raw @episode.links
    .slopel.black
      .slopelshape



- @episode_clean = @episode.id.to_s + @episode.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/episode"
:javascript
  $(function(){
    var faye = new Faye.Client('http://87.255.36.139:9292/faye');

    faye.subscribe("/#{@episode_clean.to_s}", function(data) {
      eval(data);
    });

    faye.subscribe("/#{@episode_clean.to_s}/questions", function(data) {
      eval(data);
    });
  })

  var chat = document.getElementById('chatBox');
  chat.scrollTop = chat.scrollHeight;

  $("available").change(function(){
    $(this).closest("form").submit();
  })