.spacing.nov=link_to (t("back") + " naar #{@channel.title}"), @channel

.row-fluid
  %section.span18.content
    / %h2= @channel.title
    .row-fluid
      %section.span24.livestream
        .spacing
          .row-fluid
            %article.span24
              %h1.pageheader= @episode.title
              .row-fluid
                .span15
                  %img{:src => "http://placehold.it/850x410"}
                  .row-fluid
                    %article.vraag_stellen
                      .Toggle= t("ask_question")
                      .toggler
                        .orangebg
                          %h3 Stel een vraag

                          =form_for [@episode.channel, @episode, Question.new], :remote => true do |f|
                            - unless current_user
                              =f.text_field :name, :placeholder => "Je naam"
                              =f.text_field :email, :placeholder => "Je E-mail adres"
                            =f.text_field :question, :id => "new_question", :placeholder => "Welke vraag heb jij voor Crowdrevolt?"

                            =f.submit "Stuur vraag in", :class => "btn"

                          -if current_user
                            =form_tag :available, :method => 'post', :remote => true do |f|
                              =check_box_tag :available, :id => "available"
                              =submit_tag "Send"

                        .row-fluid
                          %article.span24.vragen
                            %h3 Onlangs gestelde vragen
                            #questions
                              =render :partial => 'admin/questions/question', :collection => @episode.questions, :as => :question
                              

                .span9.chat
                  .sloper.black
                    .slopershape
                  .smallspacing
                    %h3 Live chat
                    %ul#chatBox
                      -if @episode.messages.present?
                        = render @episode.messages
                    / -= request.original_url + "/messages/new"
                    / = request + "/messages/new"
                    .chatForm
                      =form_for [@episode.channel, @episode, Message.new], :remote => true do |f|
                        =f.text_field :content, :id => "new_message"
                        - unless current_user
                          = f.label :naam
                          =f.text_field :name
                          = f.label :email
                          =f.text_field :email
                        =f.submit "Send"
                  .slopel.black
                    .slopelshape


  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.project-status
        %article
          %h4 Projectstatus
          %p blabla babafsd asdfasdf asd

      %section.over_dit_kanaal
        %article
          %h4= t("about_episode")
          .text=raw @episode.description

      %section.changemakers
        %article
          %h4 Changemakers
          %img{:src => "http://placehold.it/110x150", :align => 'left'}
          %p Lorem ipsum dolor sit amet, consectetur adi- piscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta elit.
        .row-fluid
        %article
          %h4 Changemakers
          %img{:src => "http://placehold.it/110x150", :align => 'left'}
          %p Lorem ipsum dolor sit amet, consectetur adi- piscing elit. Vivamus et turpis non mi sagittis rhoncus ac sed nisi. Aliquam et porta elit.

      .row-fluid
      %section.links
        %article
          %h4 Aanbevolen links
          %ul
            %li Dit is een link
            %li En nog een link
    .slopel.black
      .slopelshape



- @episode_clean = @episode.id.to_s + @episode.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/episode"
:javascript
  $(function(){
    var faye = new Faye.Client('http://localhost:9292/faye');

    faye.subscribe("/#{@episode_clean.to_s}", function(data) {
      eval(data);
    });

    faye.subscribe("/#{@episode_clean.to_s}/questions", function(data) {
      eval(data);
    });
  })

  $("available").change(function(){
    $(this).closest("form").submit();
  })