= link_to t('back', :default => t("helpers.links.back")), [:admin, :admins], :class => 'btn back'
.page-header
  - if @admin.new_record?
    %h1 Admins
  - else
    %h1= @admin.username
= simple_form_for([:admin, @admin]) do |f|
  -if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :username, :input_html => { :class => "makeitbig"}
  .field
    = f.input :email, :input_html => { :class => "makeitbig"}
  .field
    = f.file_field :avatar, :input_html => {:class => "btn imgselector", :style => "display:block"}
  .field
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  .field
    = f.input :skypename
  .field
    =f.input :bio, :input_html => {:rows => 10}

  .pull-left= f.submit_block([:admin, :admins])
