= link_to t('.back', :default => t("helpers.links.back")), [:admin, @channel], :class => 'btn'
.page-header
  - if @challenge.new_record?
    %h1= t('admin.challenges')
  - else
    %h1= @challenge.title
= simple_nested_form_for([:admin, @channel, @challenge]) do |f|
  .row-fluid
    - if @challenge.errors.any?
      -@challenge.errors.each do |message|
        %p= message
  .row-fluid
    .span12
      = f.input :title
      = f.input :description, :as => :editor



  .row-fluid
    .span12
      = f.submit(:class => 'btn btn-primary')
      - if !@challenge.new_record?
        = link_to t('.destroy', :default => t("helpers.links.destroy")), [:admin, @channel, @challenge], :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
