// De titel, te verdienen punten en omschrijving kun je zo laten, hieromheen de layout bouwen
%section.span16.content
  .slopel.orange
    .slopelshape
  %section.challlenge_show.spacing.highlight
    .row-fluid
      %article.span24
        .blogcenter
          .span18
            %h1= @challenge.title
            %time= l(@challenge.created_at, :format => :full)
            -if @challenge.image.present?
              =image_tag @challenge.image.url(:front)
            .text
              =raw @challenge.description
              .pull-right
                =link_to  [:new, @channel, @challenge, :solution], :class => "btn iconbtn" do
                  .icon.Solution.white
                  =t("challenges.do_challenge")

          .span6.pull-right
            .center
              %h3= t("points_to_earn")
              .points= @challenge.points



  .sloper.orange
    .slopershape
.span8.nomargin.otherChallenges
  .slopel.grey
    .slopelshape
  %aside.sidebar
    .spacing.center
      %section.challenges_box
        %article
          %h4
            .icon.Challenge
            = t("challenges.other_challenges")
          %ul
            - @channel.challenges.each do |challenge|
              %li=link_to challenge.title, [@channel, challenge]
  .sloper.grey
    .slopershape

.row-fluid
  .span24
    %section.alle_oplossingen.spacing
      %h3
        .icon.Solution
        = @challenge.title.to_s + " - " + t("solutions.solutions").to_s
      - @challenge.solutions.in_groups_of(2,false).each do |solutions|
        .row-fluid.collection
          .span24
            - solutions.each do |solution|
              %article.span12
                %h4=link_to solution.title, [@channel, @challenge, solution]
                %author=link_to solution.user.username, solution.user
                %time= l(solution.created_at, :format => :small)
                .span24
                  .span6
                    - if solution.user.avatar.present?
                      =image_tag solution.user.avatar.url(:portrait)
                  .span17.offset1
                    .text
                      =smart_truncate(strip_tags(solution.description), :words => 45).html_safe
                    =link_to t("more"), [@channel, @challenge, solution], :class => "more btn pull-right"





