// De titel, te verdienen punten en omschrijving kun je zo laten, hieromheen de layout bouwen
%section.span18.content.spacing
  %h1= @challenge.title
  .points= @challenge.points

  .row-fluid
    %section.challlenge_show
      .row-fluid
        %article.span24
          %author challenge.user.username -
          %time= l(@challenge.created_at, :format => :full)
          %img{:src => "http://placehold.it/910x360"}

          =link_to t("do_challenge"), [:new, @channel, @challenge, :solution], :class => "btn"
          %p=raw @challenge.description

  .row-fluid
    %section.alle_oplossingen
      %h3 Challenge Oplossingen
      - @challenge.solutions.in_groups_of(2,false).each do |solutions|
        .row-fluid
          %article
            .span24
              - solutions.each do |solution|
                .span12
                  %h4=link_to solution.title, [@channel, @challenge, solution]
                  .span24
                    .span8
                      %img{:src => "http://placehold.it/150x150"}
                      %author= solution.user.username
                      %div
                      %time= l(solution.created_at, :format => :small)
                    .span16
                      .text=smart_truncate(strip_tags(solution.description), :words => 45).html_safe 
                      .more=link_to "Lees meer >", [@channel, @challenge, solution]


%aside.span6
  %section.challenges_box
    %article
      %h4 Andere challenges
      %ul
        - @alternatives.each do |alt|
          %li=link_to alt.name, [@channel, @challenge, alt]



