.row
  = simple_form_for [@post, @comment] do |f|
    .hide= f.text_field :check
    - unless current_user
      = f.input :name
      = f.input :email
    = f.input :body, :input_html => {:class => "span12"}
    = f.submit