- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @channel.title, [@channel]

.spacing
  =link_to (t("back") + " naar #{@channel.title}"), @channel
  %h2
    .icon.Idea
    = @channel.title + " - "+ t("posts.all_posts")
.spacing.nov
  .row-fluid
    .pagination.top
      = will_paginate @posts,  :previous_label => "<",:next_label => ">", :container => false

    - @posts.in_groups_of(3, false) do |posts|
      .row-fluid.collection
        - posts.each do |post|
          %article.span8
            .smallspacing
              %h2= post.title
              -if post.image.present?
                =image_tag post.image.url(:front)
              .text=smart_truncate(strip_tags(post.description), :words => 45).html_safe
              = link_to t("more"), [post.channel, post], :class => "btn more pull-right"
    .pagination
      = will_paginate @posts,  :previous_label => "<",:next_label => ">", :container => false