.row-fluid
  %section.span18
    .spacing
      .row-fluid
        %section
          %article
            .general
              %h1= @post.title
              %time= l(@post.created_at, :format => :full)

            .row-fluid
              %aside.span7.karma
                %author#author
                  %h2=link_to @post.admin.username, @post.admin
                  -if @post.admin.avatar.present?
                    =image_tag @post.admin.avatar(:portrait)
              .span16.offset1.postcontent
                .text=raw @post.description
                -if @post.images.present?
                  .image
                    =image_tag @post.image.url(:front)
                .row-fluid
                  - @post.blogitems.each do |item|
                    = render "item", :item => item

            .row-fluid
    -if FunctionConfig.allowed?(:comments)
      .row-fluid
        %section.blogcenter
          .spacing
            %h3 Comments
            .row-fluid
              = render "commentform"
              - @post.comments.each do |comment|
                = render :partial => "comments/comment", :locals => {:path => [@channel, @post, comment], :comment => comment}

  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.ideeen_box
        %article
          %h4= t("posts.related")
          %ul
            - @channel.posts[0..4].each do |challenge|
              %li=link_to challenge.title, [@channel, challenge]
    .slopel.black
      .slopelshape



