= simple_nested_form_for([:admin, @channel, @episode ]) do |f|
  .row
    - if @episode.errors.any?
      -@episode.errors.each do |message|
        %p= message
  .row
    .span12
      / = f.input :tag_list
    .span12
      / = f.category_select
    .span12
      = f.image_select
    / .span12
    /   = f.input :published_at, :as => :datetimepicker, :input_html => { :value => @episode.published_at_form }
  .row
    .span12
      = f.input :title
      = f.input :description, :as => :editor
      = f.input :live
      = f.input :livestream_embedcode
      = f.input :airdate, :as => :datetimepicker
      / = f.input :description
      / = f.input :body, :as => :editor
      / = f.input :body



  .row
    .span12= f.submit(@episode.new_record? ? [:admin, @channel, :episodes] : [:admin, @channel, @episode])
