- model_class = Episode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table
  %thead
    %tr
      / %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:airdate)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @episodes.each do |episode|
      %tr
        / %td= link_to episode.id, admin_episode_path(episode)
        %td=link_to episode.title, [:admin, episode.channel, episode]
        %td=raw truncate(strip_tags(episode.description), :length => 80)
        %td= l(episode.airdate, :format => :full)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), [:edit, :admin,episode.channel, episode], :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), [:admin,episode.channel, episode], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'




