- model_class = Episode

.page-header
  %h1=t '.title', :default => model_class.model_name.human
.row-fluid
  .span2
    = link_to t('.back', :default => t("helpers.links.back")), [:admin, @channel], :class => 'btn'

  .span18
    .span8
      .spacing
        %strong= model_class.human_attribute_name(:title) + ':'
        = @episode.title
    .span8
      .spacing
        %strong= model_class.human_attribute_name(:description) + ':'
        =raw @episode.description
    .span8
      .spacing
        %strong= model_class.human_attribute_name(:live) + ':'
        = @episode.live
  .span4
    = link_to t('.edit', :default => t("helpers.links.edit")), [:edit, :admin, @channel, @episode], :class => 'btn btn-mini'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), [:admin, @channel, @episode], :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'


%hr

/ =render @questions
.row-fluid
  .span12
    %h2 Vragen over de aflevering
    %ul#questions.itemlist
      =render :partial => '/questions/question', :collection => @episode.questions, :as => :question
  -if @episode.live
    .span12
      %h3 Live chat
      %ul#chatBox
        -if @episode.messages.present?
          = render @episode.messages
      .chatForm.input-append
        =form_for [@episode.channel, @episode, Message.new], :remote => true do |f|
          - unless current_user
            .span24
              .span6
                %label Naam
              .span18
                =f.text_field :name
            .span24
              .span6
                %label E-mail
              .span18
                =f.email_field :email

          .span24
            .chatfield.nom.pull-left
              =f.text_field :content, :class => "message_clear"

            =f.submit "Send", :class => "chatsend nom pull-left"
      .spacing
      %hr
      %h2 Beschikbaar voor Skype
      %ul#available.itemlist


- @episode_chat = @episode.id.to_s + @episode.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/episode"

- @episode_clean = @episode.id.to_s + @episode.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') + "/episode/questions/admin"

:javascript
  $(function(){
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe("/#{@episode_chat.to_s}", function(data) {
      eval(data);
    });

    faye.subscribe("/#{@episode_clean.to_s}", function(data) {
      eval(data);
    });
    faye.subscribe("/available", function(data) {
      eval(data);
    });

    var chat = document.getElementById('chatBox');
  chat.scrollTop = chat.scrollHeight;
  })