= link_to t('back', :default => t("helpers.links.back")), [:admin, @channel], :class => 'btn back'
.page-header
  - if @channel.new_record?
    %h1= t('admin.channels')
  - else
    %h1= @channel.title
= simple_nested_form_for([:admin, @channel]) do |f|
  .row-fluid
    - if @channel.errors.any?
      -@channel.errors.each do |message|
        %p= message
  .row-fluid
    .span6
      = f.input :title
      = f.image_select
    .span18
      = f.input :status, :as => :text, :input_html =>{:rows => 2}

      = f.input :description, :as => :editor, :required => false
  .row-fluid
    .span18.offset6
      .spacing
      .collection= f.association :admins,:label_method => :username,   :as => :check_boxes

    .pull-right= f.submit(:class => "btn btn-primary")
