.row-fluid
  %section.span18
    .spacing
      .row-fluid
        %section.ideacontent
          %article
            .general
              %h3.nom=link_to @solution.challenge.title, [@channel, @solution.challenge]
              %h1= @solution.title
              %time= l(@solution.created_at, :format => :full)

            .row-fluid
              %aside.span7.karma
                %author#author= render :partial => "users/user", :locals => {:user => @solution.user}
                -if @solution.user == current_user
                  .clearfix=link_to t("solutions.edit_solution"), [:edit, @channel, @solution.challenge, @solution] ,:class => "pull-right btn"
                -elsif logged_in?
                  %h4 Karma op deze oplossing

                  #appreciableCounter= "Aantal waarderingen: " + @solution.appreciables.count.to_s
                  .btn.appreciableBtn#appreciableBtn{:class => ("holy" if @solution.appreciables.collect(&:user_id).include?(current_user.id))} Karma +1
                  =render "appreciable_form"
                -else
                  %p.text
                    Wil je dit waarderen? Meld je dan nu aan bij CrowdRevolt!
                    =link_to "registreren", :register
              .span16.offset1.ideacontent
                .text=raw @solution.description
                .image
                  %img{:src => "http://placehold.it/700x360"}
                .row-fluid
                  - @solution.blogitems.each do |item|
                    = render "item", :item => item
    -if FunctionConfig.allowed?(:comments)
      .row-fluid
        %section.blogcenter
          .spacing
            %h3 Comments
            .row-fluid
              = render "commentform"
              - @solution.comments.each do |comment|
                = render :partial => "comments/comment", :locals => {:path => [@channel, @solution.challenge, @solution, comment], :comment => comment}

  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.ideeen_box
        %article
          %h4 Andere ideeen
          %ul
            - @channel.ideas.each do |challenge|
              %li=link_to challenge.title, [@channel, challenge]
    .slopel.black
      .slopelshape


/ %h1= @solution.title
/ %p=raw @solution.description
/ - @solution.blogitems.each do |item|
/   = render "item", :item => item

/ =@solution.appreciables.count
/ / -raise @appreciable.inspect
/ / - if @appreciable.new_record?
/ #appreciableBtn
/   .btn.appreciableBtn Karma +1
/   =render "appreciable_form"

/ -if FunctionConfig.allowed?(:comments)
/   %h1 Comments
/   = render "commentform"
/   - @solution.comments.each do |comment|
/     = render :partial => "comments/comment", :locals => {:path => [@channel, @solution.challenge, @solution, comment], :comment => comment}