.row-fluid
  %section.span18
    .spacing
      .row-fluid
        %section.ideacontent
          %article
            .general
              %h3.nom=link_to @solution.challenge.title, [@channel, @solution.challenge]
              %h1= @solution.title
              %time= l(@solution.created_at, :format => :full)

            .row-fluid
              %aside.span7.karma
                %author#author= render :partial => "users/user", :locals => {:user => @solution.user}
                -if @solution.user == current_user
                  .clearfix=link_to t("solutions.edit_solution"), [:edit, @channel, @solution.challenge, @solution] ,:class => "pull-right btn more"
                -elsif logged_in?
                  .clear.appreciable
                    %h4.motivation= t("appreciate")

                    #appreciableCounter= "Aantal waarderingen: " + @solution.appreciables.count.to_s
                    .btn.appreciableBtn#appreciableBtn.radius{:class => ("holy" if @solution.appreciables.collect(&:user_id).include?(current_user.id))}
                      .icon.Karma.white{:style => "margin:0 auto !important;"}
                      .label.add Karma +1
                      .label.sub Je hebt dit beloond
                    =render "appreciable_form"
                    .clear
                -else
                  %p.text
                    Wil je de auteur van deze oplossing belonen? Meld je dan nu aan of log in!
                    .clear
                    =link_to "registreren", :register,:class => "btn more"
                    =link_to "inloggen", :login,:class => "btn more"
              .span16.offset1.ideacontent
                .text=simple_format(clean(@solution.description))
                -if @solution.images.present?
                  .image
                    =image_tag @solution.images.first.url(:front)
                .row-fluid
                  - @solution.blogitems.each do |item|
                    = render "item", :item => item
    -if FunctionConfig.allowed?(:comments)
      .row-fluid
        %section.blogcenter
          .spacing
            %h3 Comments
            .row-fluid
              = render "commentform"
              - @solution.comments.each do |comment|
                = render :partial => "comments/comment", :locals => {:path => [@channel, @solution.challenge, @solution, comment], :comment => comment}

  %aside.span6.sidebar
    .sloper.black
      .slopershape
    .spacing
      %section.ideeen_box
        %article
          %h4 Andere ideeen
          %ul
            - @channel.ideas.each do |challenge|
              %li=link_to challenge.title, [@channel, challenge]
    .slopel.black
      .slopelshape

