/ - if request.xhr?
/   %ul.breadcrumb
/     %li
/       = link_to t("images.crumb").html_safe, admin_images_path(:total => 15), :remote => true, :class => "image_ajax"
/       %span.divider /
/     %li= t("images.new")
.center.spacing
  / -@image = Image.new if @image.blank?
  = simple_form_for [@image], :html => { :multipart => true, :class => request.xhr? ? "image_ajax form-horizontal" : "form-horizontal" }, :remote => request.xhr? do |f|

    %table.simple_form
      = f.input :name, :input_html => { :maxlength => 50 }
      / = f.input :tag_list, :as => :tags && !request.xhr?
      .spacing
      = f.input :image, :required => @image.new_record? do
        = f.file_field :image
        - if !@image.new_record? && @image.image_file_name?
          .example_image
            %h3= t("images.page")
            = link_to(image_thumb(@image, :front), edit_image_path(@image, :crop => :front), :class => "crop_thumbs")
      .pull-right
        = f.submit :class => "btn btn-large btn-primary"
        - unless request.xhr?
          %span.or= t("or")
          = link_to t("buttons.terug_overzicht"), [:images]
          - if !@image.new_record?
            %span.or= t("or")
            = delete_link(@image, :class => "btn btn-large btn-danger")