!!! HTML5
%html(ng-app)
  %head
    %title=" CrowdRevolt"
    <!--[if lt IE 9]>
    = javascript_include_tag("http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")
    = javascript_include_tag("http://localhost:9292/faye.js")

    = javascript_include_tag("/ckeditor/ckeditor")
    <!--[if lt IE 9]>
    / = javascript_include_tag("ie.js")
    / = stylesheet_link_tag("ie.css")
    <![endif]-->
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" }
  %body
    .container-fluid
      .row-fluid
        .span24= render("searchform")
      = render("header")
      #searchresults
      .row-fluid
        = yield
      #notice= notice
      #alert= alert
      =content_for(:imageselector)