!!! HTML5
%html(ng-app)
  %head
    %title=" CrowdRevolt"
    <!--[if lt IE 9]>
    = javascript_include_tag("http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = stylesheet_link_tag("application")
    %link{ :href=>'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', :rel=>'stylesheet', :type=>'text/css'}
    = javascript_include_tag("application")
    = javascript_include_tag("http://localhost:9292/faye.js")
    = javascript_include_tag("/ckeditor/ckeditor")
    <!--[if lt IE 9]>
    / = javascript_include_tag("ie.js")
    / = stylesheet_link_tag("ie.css")
    <![endif]-->
    /[if lt IE 9]
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" }
  %body
    .container-fluid.wrapper
      = render("header")
      .vertical-spacing
        #notice= notice if notice.present?
        #alert= alert if alert.present?
      #searchloader
        .loaderholder
          =image_tag "ajax-loader.gif", :class => "ajaxloader"
          .loader
          .loader2
          .loader4
      #searchresults
      .row-fluid
        .row-fluid
          %ul.breadcrumbs
            =content_for :breadcrumbs
        / .spacing
        .row-fluid
          = yield
      =render "footer"
      =content_for(:imageselector)